.column {
    float: left;
    width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.middle{ 
	margin: 0 auto; 
	width: 180px; 
}

.container{
	width:45%;
    min-height: 48%;
    padding:1em;
    margin:0 auto;
}

#lightblue{
    background: blue;
}

#red{
    background: red;
}

#green{
    background: green;
}

#bottomtext {
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: .85em;
}

#piecesul li{
  margin: 0 0 4px 0
}

#container { 
  position: relative; 
  /* updated to support footer push */
  min-height: 100%;
  padding-bottom: 8%; /* must be the same as footer height */
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
    }

html, body{
  padding: 0;
  margin: 0;
  height: 100%;
}

ul {
    display: inline-block;
    *display: inline;
    zoom: 1
}

* {
    box-sizing: border-box;
}

div *{
  margin:0;
}

a {
  margin:0;
  padding:0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}